*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

.body{
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}


h1{
    font-size: 1.5em;
}
h2{
    font-size: 1.5em;
}

.container{
  
    max-width: 1400px;
    margin: auto;
    
}

/*Header*/
.header{
  
    background-color: rgb(214, 207, 207);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 83%;
    z-index: 50;
    margin: 0;
    
    
}
.header .logo-empresa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 10%;
}
.navbar{
    background-color: rgb(214, 207, 207);
    display: flex;
    margin: 5px;
    width: 100%;
    
    
}

.navbar a{
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(214, 207, 207);
    color: rgb(19, 10, 149);
    padding: 10px 5px;
    border: 1px solid  rgb(214, 207, 207);
    border-radius: 10px;
    justify-content: space-between;
    margin: 0;
}
.navbar a:hover{
    background-color: rgb(245, 128, 151);
}

.logo{
    font-family:  'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
    padding: 20px 5px;
    font-size: 2.5em;
    font-weight: 500;
    color:  rgb(86, 86, 221);
    font-style: oblique;  
    text-align: center;
}

.carousel-inner .d-block-w-100-sg{
    width: 100%;
    border: 30px;
    margin: 20px 10px;
    padding-top: 10em;
}

/*main*/
.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    background-color:  rgb(245, 245, 245);
    padding: 10px;
    border: 10px 10px;

}
.section-principal{
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    margin:3em;
    border: 50px;
}

.container .carta{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 5px;
}

button{
    display: inline-block;
    font-size: 1.5em;
    font-weight:200;
    padding: 3px 10px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgb(144, 136, 136); 
    color: azure;
    background-color: rgb(162, 77, 242);
    
}
button:hover{
    background-color: rgb(55, 27, 81);
}
.container .button{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
    text-decoration: none;

}
.btn btn-outline-success{
    padding: 10px 20px;
}

/*atencion al cliente*/
.Servicios{
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 50px 20px;
    background-color: rgb(49, 49, 49);
    color: white;
    font-size: 20px;
}
.Servicios .carta-2{
    
    width: 100%;
    text-align: start;
    display: flex;
    flex-direction: column;
   
    align-items: center;
    border-radius: 20px;
    padding: 5px 2px;
    background-color: rgb(192, 175, 175);
    margin: 20px 3px;
    align-content: center;
}
.Servicios .carta-2 h3{
    color: deeppink;
}
.Servicios h2{
    color: deeppink;
    font-size: 25px;
}



.boton{
    background-color: rgb(46, 46, 155);
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(144, 136, 136);
    padding: 5px 5px;
    font-weight: 300;
    color: white;
    margin: 10px 10px;  

}


/*Formulario Contacto*//*Formulario Contacto*//*Formulario Contacto*/
.form{
    background-color: rgb(205, 194, 244);
    padding: 15px;
    padding-bottom: 10px;
    padding-right: 40px;
    border: 5px solid rgb(33, 2, 67);
    border-radius: 10px;
    margin: 20px 5px;
    width: 320px;
    height: 570px;
    box-shadow: 2px 2px 2px rgb(144, 136, 136);
    color: rgb(3, 3, 83);
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-weight: 500;
    margin: 10px 10px;
}
.formulario h1{
    font-size: 1.5em;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
}
.formulario p{
    text-decoration: underline;
}
.Descripcion{
    color: coral;
    font-style: italic;
}   

/*Footer*//*Footer*/
.footer{
    box-sizing: border-box;
    background-color: rgb(223, 108, 108);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    width: 100%;
    font-weight: 500;
    
}
.button{
    min-width: 20em;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
}
.button a{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-decoration: none;
    font-size: 15px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #314652;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
}
.button a:hover{
    transform: scale(1.2);
}
.list-links a{
    display: flex;
    text-decoration: none;
    color: black;
    padding: 5px;
    margin: 5px 20px;
    border: 2px solid rgb(214, 73, 73);
    border-radius: 10px;
    background-color: rgb(214, 73, 73);
}

/*boton volver*/
.btn .volver{
    display: inline-block;
    color: black;
    background-color: rgb(196, 196, 233);
    border: 1px solid rgb(39, 39, 212);
    border-radius: 10px;
    padding: 10px;
    margin: 10px 50px;
    text-decoration: none;
    font-weight: 500;
}



