*{
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.table{
    margin-top: 20px;
    
    margin-left: auto;
    margin-right: auto;
    

}    
th{
    background-color: rgb(180, 177, 177);
    color: black;
    font-size: 20px;
}

td{
    font-style: italic;
    color: blue;
    font-weight: 600;
}

td,th{
    border: 2px solid black;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-style: italic;
}

.horario{
    background-color: rgb(143, 143, 239);
    border: 2px solid blue;
    border-radius: 10px;
    padding-bottom: 15px;
    padding-top: 10px;
    font-style: italic;
    font-weight: 900;
    font-size: 1.5em;;
}
.btn .volver{
    display: inline-block;
    color: black;
    background-color: rgb(196, 196, 233);
    border: 1px solid rgb(39, 39, 212);
    border-radius: 10px;
    padding: 10px;
    margin: 20px 50px;
    text-decoration: none;
    font-weight: 500;
}
